* {
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    font-family: 'Karla', sans-serif;
    margin: 0;

}

main {
    /* border: 1px solid black; */
    width: 700px;
    height: 700px;
    margin: 0 auto;
    position: relative;
    background: #F5F7FB;
   
    
}
.main-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.quest-page{
    padding: 40px 75px;
   
}


.blob-image {
    position: absolute;
    top: 0;
    right: 0;


}

.blob-image1 {
    position: absolute;
    bottom: 0;
    left: 0;


}

.start-button {
    width: 193px;
    height: 52px;
    background: #4D5B9E;
    border-radius: 15px;
    font-family: 'Inter';
    color: #F5F7FB;
    border: none;
    font-size: 16px;
    cursor: pointer;
}
.question{
    color: #293264;
    font-family: 'Karla';
    font-weight: 700;
    margin-bottom: 25px;
 

}
input{
    appearance: none;
}

hr{
    border: 0.794239px solid #DBDEF0;
}

.choices{
  
    display: flex;
    width: auto;
    gap:10px

    
}
.option{
 display: flex;
 height: 20px;
 align-items: center;
    justify-content: center;
   
   
}

label{
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 10.24px;
}
.btn{
  position: fixed;
           left: 45%;
          
    
}
input[type='radio'] +label{
    
     background: #F5F7FB;
     border: 0.794239px solid #4D5B9E;
    padding: 4px 20px;
    border-radius: 7.94239px; 
}

input[type='radio']:checked  + label {
  border:none;
   background:#4D5B9E;
    
}
.score-section{
    display: inline-flex;
    gap :100px
    
}
.small-button{
    width:120px;
    height: 35px;
    font-size: 10px;
}
